# ─── VS Code ─────────────────────────────────────────────────────
.vscode/

# ─── Системні файли (Windows / Mac) ──────────────────────────────
Thumbs.db
.DS_Store

# ─── Python (якщо колись напишеш) ────────────────────────────────
__pycache__/
*.pyc

# ─── Node.js (якщо колись буде JavaScript/React) ─────────────────
node_modules/

# ─── IDE (Якщо колись буде IntelliJ / PyCharm) ───────────────────
.idea/

# ─── Логи та інше сміття ─────────────────────────────────────────
*.log
